/* DEVELOPER Javier Tabar, IS117-004, Spring 2021 */
*{
    font-family: "Lucida Console" ;
}
header {
    background-color: #FFDFFE;
    padding-top: 0;



}
header h2 {
    color: Black;
    border-color: black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    float: top;
    top: -10px;
}
header p{
    text-align: center;
}
header img{
    position: sticky;
    top: -10px;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 0;

}
.navbar-nav.navbar-center{
    display: flex;
    justify-content: space-between;
    align-items: safe;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    font-size: 30px;

}
.navbar-nav > li{
    padding-left:50px;
    padding-right:50px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float:right;
    right:500px;
    top: 50px;
    bottom: 1000px;
    display: flex;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

main h2{
    color: blueviolet;
    padding-left: 100px;
    padding-right: 1000px;
    padding-top: 100px;


}
main p{
    padding-left: 100px;
    padding-right: 1000px;
    font-size: large;
}
main h3{
    color: blueviolet;
    padding-left: 100px;
    padding-right: 1000px;
    padding-bottom: 25px;
    padding-top: 25px;
}
footer p{
    top:500px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;


}


